#header {
  height: 10%;
  width: 100%;
  top: 2%;
  background-color: black;
  position: fixed;
  color: white;
}

#left-side {
  height: 75%;
  width: 15%;
  top: 10%;
  position: fixed;
}

#right-side {
  height: 75%;
  width: 80%;
  background-color: whitesmoke;
  position: fixed;
  left: 17%;
  top: 21%;
  color: red;
  border: solid 1px black;
}

#top-span {
  top: 15%;
  width: 80%;
  left: 17%;
  position: fixed;
}

#td {
  border: 1px solid black;
  padding-left: 2px;
  text-align: left;
  width: 200px;
}
